<h1>Proyectos</h1>


<div class="container">
<div class="card col-md-4" style="width: 10rem;">
  <%= image_tag 'img1.png', class:"w-100" %>
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="https://docs.google.com/document/d/1uHRHRxc20maAcFaiB_2lSLGd9YEsGxaE9IGtbVkTiUo/edit" class="btn btn-primary btnrail">Vamos al proyecto</a>
  </div>
</div>


<div class="card col-md-4" style="width: 10rem;">
  <%= image_tag 'img2.png', class:"w-100" %>
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="https://meblok.github.io/Viajes-chile/" class="btn btn-primary btnrail">Vamos al proyecto</a>
  </div>
</div>


<div class="card col-md-4" style="width: 10rem;">
  <%= image_tag 'img3.png', class:"w-100" %>
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="https://meblok.github.io/" class="btn btn-primary btnrail">Vamos al proyecto</a>
  </div>
</div>
</div>